* {
	margin: 0 auto;
	padding: 0;
}

body {
	width: 37rem;
	height: auto;
	background-color: #f6d19d3c;
	text-align: center;
}

span {
	color: #ff9900;
}

main img {
	width: 21.75rem;
	height: 14rem;
	margin-bottom: 4.5rem;
}

main h1 {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 3rem;
	line-height: 3.5rem;
	margin-bottom: 2rem;
}

main h1 span {
	font-weight: 700;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.75rem;
	color: ;
	margin-bottom: 3rem;
}

hr.divisor {
	border: 0;
	height: 2px;
	background-image: linear-gradient(
		to right,
		transparent,
		#ff99004c,
		transparent
	);
	margin-bottom: 0.5rem;
}

.contacts {
	display: flex;
	justify-content: center;
}

a {
	color: #ff9900d3;
	font-size: 2rem;
	margin: 0 1rem;
	text-decoration: none;
}
