* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	cursor: default;
}

:root {
	font-size: 62.5%;
}

body {
	font-family: 'Staatliches', cursive;

	background-color: #eff1ff;
	min-width: 38rem;
	margin: 0 auto;
}

.page {
	height: 100vh;
}

header {
	width: 100%;
	padding: 3.2rem 0;
	text-align: center;
	background: #8e9aaf;

	display: flex;
	flex-direction: column;
	gap: 3.2rem;
}

header .logo {
	position: relative;
	width: fit-content;
	margin: 0 auto;

	transition: 1s transform;
}

header .logo:hover {
	transform: scale(1.2);
}

header .logo #moon {
	position: relative;

	z-index: 1;
	animation: 8s moon-rotate infinite linear;
}

header .logo #ice-cream {
	position: absolute;
	top: 20%;
	left: 4.5rem;

	animation: 4s ice-cream-jump infinite ease-in-out;
}

header h1 {
	padding: 0.8rem;

	font-weight: 400;
	font-size: 4rem;
	line-height: 3.4rem;
	letter-spacing: 3px;

	color: #ffffff;
	background-color: #cbc0d3;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

	animation: 0.5s back-to-top backwards;
}

header p {
	margin: 0 auto;
	min-width: 27.5rem;
	max-width: 50rem;
	padding: 1.4rem 3rem 0;
	text-align: center;

	font-family: 'Palanquin', sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 1.8rem;

	color: #23053a;

	animation: 0.7s 0.3s back-to-top backwards;
}

main {
	min-width: 32rem;
	margin: 6.4rem auto;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 6rem;
}

.cards {
	display: grid;
	grid-template-areas: 'A' 'B' 'C' 'D' 'E' 'F';
	gap: 3.2rem;
}

.cards .card {
	position: relative;
	transition: 0.4s all;
	animation: 0.5s 0.7s right-to-left backwards;
}

.cards .card:nth-child(1) {
	grid-area: A;
}
.cards .card:nth-child(2) {
	grid-area: B;
}
.cards .card:nth-child(3) {
	grid-area: C;
}
.cards .card:nth-child(4) {
	grid-area: D;
}
.cards .card:nth-child(5) {
	grid-area: E;
}
.cards .card:nth-child(6) {
	grid-area: F;
}

.cards .card:hover {
	transform: scale(1.1);
}

.cards .card img {
	width: 100%;
	height: 100%;
	border-radius: 2rem;

	object-fit: cover;
}

.cards .card h2 {
	position: absolute;
	top: 1.6rem;
	right: 1.6rem;

	font-weight: 400;
	font-size: 2rem;
	line-height: 3.4rem;
	letter-spacing: 0.05em;

	color: #4a4e69;
	background: #feeafa;
	padding: 1px 2.4rem;
	border-radius: 2rem;

	animation: 0.4s 1.2s right-to-left backwards;
	transition: 0.3s all;
}

.cards .card h2:hover {
	background: #8e9aaf;
	color: #feeafa;
	cursor: pointer;
}

footer p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 2.8rem;

	text-align: center;

	color: #4a4e69;

	padding-bottom: 3rem;
}

footer p a {
	text-decoration: none;
	color: #23053a;
	font-weight: 700;
	cursor: pointer;
}

@keyframes ice-cream-jump {
	0% {
		transform: translate(-10rem, 2rem);
		z-index: 1;
	}

	50% {
		transform: translate(9rem, -3rem);
	}

	100% {
		transform: translate(-10rem, 2rem);

		z-index: 0;
	}
}

@keyframes moon-rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes right-to-left {
	0% {
		opacity: 0;
		transform: translateX(15px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes back-to-top {
	0% {
		opacity: 0;
		transform: translateY(15px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@media (min-width: 650px) {
	main {
		min-width: 60rem;

		padding: 0 10rem;
	}

	.cards {
		grid-template-areas:
			'A B'
			'D B'
			'D C'
			'F C'
			'F E';
	}
}

@media (min-width: 800px) {
	.page {
		display: grid;
		grid-template-areas:
			'header main  '
			'header footer';
	}

	.page header {
		grid-area: header;

		max-width: 32rem;

		gap: 6rem;
	}

	.page main {
		grid-area: main;
		margin: 0 auto;
		padding: 0;

		min-width: 47rem;
	}
	.page main .cards {
		padding: 4rem;
		margin: 0 auto;
	}

	.page footer {
		grid-area: footer;
	}
}

@media (min-width: 1150px) {
	.page {
		grid-template-areas:
			'header main main main'
			'header footer footer footer';
	}

	.page main {
		padding: 0 4rem;

		max-width: 95rem;
	}

	.page main .cards {
		grid-template-areas:
			'A B C'
			'D B F'
			'D E F';
	}
}
